<div id="socialicons">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank">
       <i class="fa fa-twitter"></i>
    </a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl}}{{ page.url }}" rel="nofollow" target="_blank">
        <i class="fa fa-google"></i>
    </a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&summary={{ page.summary }}&source=http://adamatti.github.io/blog" rel="nofollow" target="_blank">
        <i class="fa fa-linkedin"></i>
    </a>
    <a href="mailto:adamatti@gmail.com?subject={{ page.title }}" rel="nofollow" target="_blank">
        <i class="fa fa-envelope"></i>
    </a>
</div>
