---
layout: default
---

<div class="home">

  {{ content }}

  <ul>
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span> - 
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a><br> 
        {{ post.summary }}<br>
        &nbsp;
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Não perca os updates! Assine <a href="{{ "/feed.xml" | relative_url }}">usando RSS</a></p>

</div>